version: '3.8'

services:
  web:
    build: .
    command: gunicorn sales_distribution.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=sales_db
      - POSTGRES_USER=sales_user
      - POSTGRES_PASSWORD=sales_password

volumes:
  postgres_data:
